<div class="posts"> 
    <section class="posts">
        <div class="meta">
            <ol>
                {{#each this}}
                <li>
                    {{post_content}}
                </li>
                {{/each}}
            </ol>      
        </div>
    </section>
</div>