<div> 
    <section>
        <div class="meta">
            <ul class="post-list">
                {{#if this.length}}
                {{#each this}}
                <li class="posts">
                    <p>
                        Category: {{category}}
                    </p>
                    <div>
                    {{post_content}}
                    </div>
                    <span>posted by: {{user.username}} </span>
                </li>
                {{/each}}
                {{/if}}
                {{#unless this.length}}
                <span>No posts for this area yet!</span>
                {{/unless}}
            </ul>      
        </div>
    </section>
</div>