<div> 
    <section>
        <div class="meta">
            <ul class="post-list">
                {{#if this.length}}
                {{#each this}}
                <li class="posts">
                    <div>
                    {{post_content}}
                    </div>
                    <div class="about">
                    <span>Category: {{category}}</span><span> posted by: {{user.username}} </span>
                    </div>
                </li>
                {{/each}}
                {{/if}}
                {{#unless this.length}}
                <span>No posts for this area yet!</span>
                {{/unless}}
            </ul>      
        </div>
    </section>
</div>