        <article class="post">
            <div>
                <span>{{zipcode}}</span>
                <p>{{city_name}} </p>
                <p>{{>post-info posts}}</p>
            </div>
        </article>