<div class="top-bar">
    <h1 class="zip-banner">{{city_name}}</h1>
    <h2 class="zip-banner">{{zipcode}}</h2>
</div>
<div>
    <span>{{>post-info posts}}</span>
</div>
 <div class="hide">
    <label for="zip-id"></label>
    <input type="text" name="zip-id" value="{{id}}"/>
</div>