<h1>{{city_name}}</h1>
<h2>{{zipcode}}</h2>
<div>
    <span>{{>post-info posts}}</span>
</div>
 <div class="hide">
    <label for="zip-id"></label>
    <input type="text" name="zip-id" value={{id}}/>
</div>