<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Living Local</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>


    <div class="top-bar">
        <header>
            <h1>
                <a href="/" class="application-title">Living Local</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <button id="logout" class="btn">Logout</button>
                <a href="/dashboard" id="dashboard" class="btn"> My Dashboard</a>
                {{else}}
                <a href="/login" id="login" class="btn">Login</a>
                {{/if}}
            </nav>
           
        </header>
    </div>
        <main>
                {{{ body }}}
        </main>
    
    {{#if loggedIn}}
    <script src="javascript/logout.js"></script>
    {{/if}}
</body>
</html>