<article class="container">
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form">

        <div>
            <label for="post-content">Content</label><br>
            <textarea id="post-content" name="post-content">{{post.post_content}}</textarea>
        </div>
        
        <button type="submit">Update Post</button>
        <button type="button" class="delete-post-btn">Delete</button>
    </form>
</article>



<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>