<div class="wrapper">
    <h2 class="info">See what others in your area are up to!</h2>

    <h3 class="instructions">Enter your zip code to see things to do in your area</h3>
</div>

<form class="zip-form">
    <div>
        <textarea name="zip-input" placeholder="Enter Zip Code"></textarea>
    </div>

    <div>
        <button type="submit">Enter</button>
    </div>
</form>