<form class="login-form">
  <div  class="input-box">
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div  class="input-box">
    <label for="password-login">password:</label>
    <input type="password" id="password-login"/>
  </div>
  <div class="button">
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div  class="input-box">
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="input-box">
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div  class="input-box">
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup"/>
  </div>
  <div  class="button">
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>