{{#if posts.length}}
<header>
    {{#each posts as |post|}}
  <div>
      {{> zipcode post}}
  </div>
    {{/each}}
</header>
{{/if}}

{{#unless posts.length }}
<p>Sorry! No posts in this area yet!</p>
{{/unless}}


