<h1>{{city_name}}</h1>

{{#if posts.length}}
<section>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> zipcode post}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

{{#unless posts.length }}
<p>Sorry! No posts in this area yet!</p>
{{/unless}}


