<h2>What type of activity would you like to view?</h2>


{{#if posts.length }}
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
{{/if}}

{{#unless post.length }}
<p>Sorry! No posts in this area yet!</p>
{{/unless}}