{{#if loggedIn}}
<section class="new-post">
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-content">Content</label><br>
      <textarea type="text" id="post-content" name="post-content" ></textarea>
    </div>
    <div>
      <label for="category">Category:</label>
      <select name="category" id="category-type">
        <option
        value="Restaurant">Restaurant
        </option>
        <option
        value="Activity">Activity
        </option>
        <option
        value="Other">Other
        </option>
      </select>
    </div>
   
    <button type="submit" class="btn">Create</button>
  </form>
</section>
<script src="/javascript/add-post.js"></script>
{{/if}}
{{#if posts.length}}
<section>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

{{#unless posts.length }}
<p>Sorry! No posts in this area yet!</p>
{{/unless}}




