<h1>{{city_name}}</h1>

<h2>What type of activity would you like to view?</h2>
  <div>
    <button type="button">Places to Eat</button>
    <button type="button">Things to Do</button>
  </div>


{{#if posts.length }}
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
{{/if}}

{{#unless post.length }}
<p>Sorry! No posts in this area yet!</p>
{{/unless}}
