<h1>{{city_name}}</h1>

{{#if posts.length}}
<section>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

{{#unless posts.length }}
<p>Sorry! No posts in this area yet!</p>
{{/unless}}

<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>


