:root {
    --primary: #728370;
    --secondary: #333333;
    --tertiary: #0C8054;
    --dark: #170c01;
    --border-radius: .3rem;
    
    }
    
* {
    box-sizing: border-box;
}

body {
    background: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 22px;
}

main {
    margin: 20px auto;
    width: auto;
}
.top-bar {

    text-align: center;
    background: linear-gradient(#0C8054 10%, #fdf5eb);
    margin-bottom: 12px;
    margin-top: 0px;

}

.application-title {
    color: var(--primary);
    text-shadow: 3px 3px var(--dark);
}


h2, h3, form, input{
    text-align: center;  
    font-size: 2rem;
    color: var(--dark);
    padding: 0 10px;
    display: inline-block;
    width: 100%;
    
}

.zip-input {
    width: 30%;
    text-align: left;
}


.section {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
}

.post {
    color: var(--primary);
    background-color: var(--secondary);
    padding: 2.5%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}

.section-body {
    padding: 2.5%;
}

.form-label,
.form-input,
.form-textarea {
display: block;
}
.form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
}

.signup-form, .login-form {
    text-align: center;
}



.input-box {
    width: 30%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--dark);
    border-radius: var(--border-radius);

}

.button {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 30%;
    display: flex;
    color: var(--dark);
    border: none;
    outline: none;
    background-color: var(--secondary);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
    height: fit-content;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    
    
}

#input textarea {

    background: var(--secondary);
}






/* Modal for zip code entry validation */
.modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Animation gradient for the header and footer of the modals */
  html, body {
    width: 100%;
    height:100%;
  }
  
  .modal-footer, .modal-header {
      background: linear-gradient(-45deg, #c900ff, #8900ae, #5d0076, #330040);
      background-size: 400% 400%;
      animation: gradient 10s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #a32cc4;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #a32cc4;
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
